@font-face {
    font-family: Nunito;
    src: url(fonts/nunito.ttf);
}

header {
    background: radial-gradient(circle at center, rgb(128, 128, 128, 0.5), rgb(0, 0, 0, 0.25), rgb(0, 0, 0, 0.75));

    margin-top: 0%;
    box-sizing: inherit;
    width: 100%;

    display: flex;
}

body {
    font-family: Nunito;
    color: #F0F0F0;

    margin: 0;

    background: linear-gradient(#f5a9b8, #5bcefa);
    background-attachment: fixed;
}

a {
    color: #5bcefa;
}

h2 {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

p {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

.centered {
    padding: 0;
    margin: auto;
    width: max-content;
    display: flex;
}

.info-box {
    background: rgb(0, 0, 0, 0.5);

    padding: 10;
    margin: 1%;
    border-radius: 15px;

    width: 25%;
    height: 50%;

    clear: left;

    display: table;
    box-sizing: content-box;
}

.image-showcase-div {
    position: absolute;

    top: 50%;
    left: 85%;
    transform: translate(-5%, -50%);
}

.image-showcase {
    width: 100%;
    height: max-content;

    border-radius: 15px;

    opacity: 75%;
    object-fit: contain;

    transition: all 0.25s ease-out;
    filter: blur(5px);
}

.image-showcase:hover {
    opacity: 100%;
    filter: blur(0px);
}